@model List<UdemyETicaret.DB.Categories>

<ul class="nav navbar-nav">
    @foreach (var cat in Model)
    {
        if (cat.Categories1.Any())
        {
            <li class="dropdown">
                <a href="@Url.Action("index","i",new { id=cat.Id })">@cat.Name<span class="caret"></span></a>
                @_MenuHelper.MenuRecursive(cat.Categories1.ToList())
            </li>
        }
        else
        {
            <li><a href="@Url.Action("index","i",new { id=cat.Id })">@cat.Name</a></li>
        }

    }
</ul>